<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a (click)="logout()" class="btn btn-info">Logout</a></li>
            <li class="list-inline-item"><a class="btn btn-info" routerLink="/users">List Users</a></li>
            <li class="list-inline-item"><a class="btn btn-info" routerLink="/timeline">Timeline</a></li>
            <li class="list-inline-item"><a class="btn btn-info" routerLink="/profile">Profile</a></li>
            <li class="list-inline-item"><a class="btn btn-info" routerLink="/create-kwetter">Create KwetterModel</a>
            </li>
            <li class="list-inline-item"><a class="btn btn-info" routerLink="/search-kwetter">Search KwetterModel</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
