<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <td scope="col" colspan="2">Profile</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Name</td>
          <td>{{ user.name }}</td>
        </tr>
        <tr>
          <td>Bio</td>
          <td>{{ user.bio }}</td>
        </tr>
        <tr>
          <td>Website</td>
          <td>{{ user.website }}</td>
        </tr>
        <tr>
          <td>Location</td>
          <td>{{ user.location }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>