# Java Maven CircleCI 2.0 configuration file

version: 2.1
  
jobs:
  build:
    docker:
      - image: circleci/openjdk:8-jdk
      
    working_directory: ~/repo

    environment:
      MAVEN_OPTS: -Xmx3200m
        
    steps:
      - checkout
      
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-

      - run: mvn dependency:go-offline

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

      - run: mvn test
      
      - run:
            name: Install Sonarqube scanner
            command: |
              wget https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-3.2.0.1227-linux.zip
              unzip sonar-scanner-cli-3.2.0.1227-linux.zip

      - run:
            name: Run Sonarqube scanner
            command: |
              export SONAR_SCANNER_OPTS="-Xmx2048m"
              eval ./sonar-scanner-3.2.0.1227-linux/bin/sonar-scanner -Dsonar.projectKey=kwettertest \
              -Dsonar.sources=. \
              -Dsonar.sourceEncoding=US-ASCII \
              -Dsonar.exclusions=vendor/bundle/** \
              -Dsonar.host.url=http://9e145bd5.ngrok.io \
              -Dsonar.projectVersion=${CIRCLE_BRANCH} \
      